{{extend name="public:base" /}}
<!--标题-->
{{block name="title"}}
设备列表
{{/block}}

<!--主体-->
{{block name="main"}}
<!-- 内容墙,包含顶部面板 -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            设备详情
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li><a href="#">设备管理</a></li>
            <li class="active">编辑设备</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box-body">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_2" data-toggle="tab">设备数据</a></li>
                    <li ><a href="#tab_1" data-toggle="tab">设备信息</a></li>
                    <li><a href="#tab_3" data-toggle="tab">设备日志</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane " id="tab_1">
                        <div class="row detail">
                            <div class="col-md-8">
                                <h4><strong><i class="fa fa-tablet margin-r-5"></i> 设备名称</strong></h4>
                                <p class="text-muted">
                                    {{$one.device_name}}
                                </p>

                                <hr>

                                <h4><strong><i class="fa fa-paint-brush margin-r-5"></i>鉴权信息</strong></h4>

                                <p>{{$one.device_auth}}</p>

                                <hr>

                                <h4><strong><i class="fa fa-plus margin-r-5"></i> 创建时间</strong></h4>

                                <p>
                                    {{$one.create_time}}
                                </p>

                                <hr>

                                <h4><strong><i class="fa fa-database margin-r-5"></i>累计采集数据</strong></h4>

                                <p>{{$all_count.total}}条</p>

                                <hr>

                                <h4><strong><i class="fa fa-file-text-o margin-r-5"></i>详细描述</strong></h4>

                                <textarea class="form-control" id="device_desc" data-parsley-maxlength="512"
                                        name="device_desc" rows="5" placeholder="设备描述"
                                        data-parsley-id="13" readonly>
                                        {{$one.device_description}}
                                    </textarea>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="tab_2">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">
                                        <span class="data-value" id="totalData">{{$all_count.total}}</span>条
                                    </h5>
                                    <span class="description-text">设备数据总数</span>
                                </div>
                            </div>
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">
                                        <span class="data-value">{{$all_count.yesterday}}</span>条</h5>
                                    <span class="description-text">昨日新增</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h5 class="description-header">
                                        <span class="data-value" id="new_last7day">{{$all_count.last_week}}</span>条</h5>
                                    <span class="description-text">最近7日新增</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12" id="container">

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_3">
                        <table class="table table-bordered table-hover text-center">
                            <!--<colgroup>-->
                            <!--<col class="col-md-1">-->
                            <!--<col class="col-md-2">-->
                            <!--<col class="col-md-3">-->
                            <!--<col class="col-md-4">-->
                            <!--<col class="col-md-4">-->
                            <!--</colgroup>-->

                            <tr>
                                <th>序号</th>
                                <th>设备id</th>
                                <th>设备名称</th>
                                <th>类型</th>
                                <th>内容</th>
                                <th>时间</th>
                            </tr>
                            {{volist name='logs' id='value'}}
                            <tr>
                                <td>{{$value.id}}</td>
                                <td>{{$value.device_id}}</td>
                                <td>{{$value.device.device_name ?? null}}</td>
                                <td> {{switch name="$value.record_type"}}
                                    {{case value="in"}}登入{{/case}}
                                    {{case value="out"}} 注销{{/case}}
                                    {{case value="send_order"}}发送命令{{/case}}
                                    {{case value="add_trigger"}}添加触发器{{/case}}
                                    {{case value="update_trigger"}}编辑触发器{{/case}}
                                    {{case value="del_trigger"}}删除触发器{{/case}}
                                    {{case value="report"}}事件触发{{/case}}
                                    {{case value="response_order"}}响应命令{{/case}}
                                    {{/switch}}
                                </td>
                                <td>{{$value.content}}</td>
                                <td>{{$value.create_time}}</td>
                            </tr>
                            {{/volist}}
                        </table>
                        <div class="pull-right">
                            {{$logs->render()}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
{{/block}}

{{block name="js"}}
<script>
    $(function () {
        window.last_point = null;
        Main.get_ws();
        Main.send_data();
    });
    // 设置时间偏移
    Highcharts.setOptions({
        global: {
            timezoneOffset: -8 * 60
        },
        lang: {
            months: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
            weekdays: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
            shortMonths : ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
        }
    });

    let chart = Highcharts.chart('container', {
        chart: {
            type: 'spline'
        },
        title: {
            text: '{{$one.device_name}}数据报表'
        },
        subtitle: {
            text: '数据来源：JasonNet.com'
        },
        yAxis: {
            allowDecimals: true,
            title: {
                text: '{{$template.unit_name ?? "value"}}（{{$template.unit_symbol ?? null}}）'
            }
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
                second: '%H:%M:%S',
                minute: '%H:%M',
                hour: '%H:%M',
                day: '%m-%d',
                week: '%m-%d',
                month: '%Y-%m',
                year: '%Y'
            }
        },
        // tooltip: {
        //     headerFormat: '<b>{series.name}</b><br>',
        //     pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
        // },
        plotOptions: {
            spline: {
                marker: {
                    enabled: true
                }
            },
            series: {
                label: {
                    connectorAllowed: false
                },
                pointStart: parseInt('{{$point_start}}')
            }
        },
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        },
        series: [{
            name: '{{$one.device_name}}',
            data: $.parseJSON('{{$info}}'),
            pointInterval: 10 * 1000,
        },]
    });
    let Main = {
        // 获取websocket连接
        get_ws() {
            web_socket(function (data) {
                switch (data.type) {
                    case 'new_device_data':
                        let point = Main.dealData(data.content);
                        // if (window.last_point === data.content[0].create_time) {
                        //     point = null;
                        // }
                        chart.series[0].addPoint(point, true, true);
                        // window.last_point = data.content[0].create_time;
                        break;
                }
            })
        },
        // 发送设备id
        send_data() {
            setInterval(function () {
                let info = {
                    'type': 'get_device_data',
                    'content': {'device_id': '{{$one.id}}'}
                };
                let last = JSON.stringify(info);
                window.ws.send(last);
                console.log('done');
            }, 15000);
        },
        // 处理返回数据
        dealData(data_content) {
            let points = [];
            $.each(data_content, function (index, value) {
                let number = parseFloat(value.data_content);
                let timestamp = parseFloat(value.create_time);
                if (!isNaN(number)) {
                    points.push(number)
                }
            });
            return points;
        },


    };

</script>
{{/block}}